@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  @apply font-[family-name:var(--font-notable)] scale-up hover:text-darkolive bg-cbrown border-cbrown border-2 rounded-3xl 
    inline-block pb-2 px-2 shadow-md shadow-darkolive;
}

.splash {
  @apply font-[family-name:var(--font-space-grotesk)] font-bold text-cbrown
  text-3xl md:text-4xl lg:text-5xl;
}

.filled-border {
  @apply bg-darkolive border-darkmoss border-2 rounded-3xl inline-block p-2;
}

.filled-border:hover {
  @apply border-cbrown;
}

.dotted-border {
  @apply border-dashed bg-darkolive border-moss border-4 rounded-3xl inline-block p-2;
}

.icon-container {
  @apply hover:text-cpurple flex items-center space-x-2 hover:scale-105;
}

.icon {
  @apply h-full w-full fill-current stroke-current;
}

.nav-container {
  @apply text-darkmoss text-nowrap page-length;
}

.nav-btn {
  @apply hover:text-cbrown rounded-full scale-up filled-border;
}

.nav-btn-container {
  @apply relative hidden md:flex font-bold text-xl items-center pl-4;
}

.dropdown-menu {
  @apply absolute right-1 p-1 text-cbrown font-bold text-center
    rounded-xl shadow-md bg-darkolive border-darkmoss border-2;
}

.dropdown-item {
  @apply hover:text-darkmoss hover:bg-olive rounded-full text-lg;
}

.scale-up {
  @apply hover:scale-105 transition duration-150;
}

.test-outline {
  @apply outline outline-red-500;
}

.page-length {
  @apply w-full md:w-2/3 lg:w-1/2;
}

.project-title {
  @apply justify-center dotted-border splash pb-4;
}

.project-header {
  @apply text-3xl py-6 font-bold;
}

.project-desc {
  @apply text-2xl space-y-4;
}

.project-link {
  @apply text-cpurple hover:text-moss hover:underline;
}

.project-example {
  @apply rounded-lg shadow-lg;
}
