@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
    @apply font-[family-name:var(--font-notable)] scale-up
}

h1 {
    @apply font-[family-name:var(--font-space-grotesk)]
}

.filled-border {
    @apply bg-darkolive border-darkmoss border-2 rounded-3xl inline-block p-2
}

.filled-border:hover {
    @apply border-cbrown
}

.dotted-border {
    @apply border-dashed bg-darkolive border-moss border-4 rounded-3xl inline-block p-2
}

.icon-container {
    @apply hover:text-cpurple flex items-center space-x-2 hover:scale-105 
}

.icon {
    @apply h-full w-full fill-current stroke-current;
}

.nav-btn {
    @apply hover:text-cbrown scale-up filled-border 
}

.scale-up {
    @apply hover:scale-105 transition duration-150
}
